<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>thang.itplus.controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>thang.itplus.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>thang.itplus.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>thang.itplus.controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>thang.itplus.controller.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>thang.itplus.controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetailController</servlet-name>
        <servlet-class>thang.itplus.controller.CartDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>thang.itplus.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>thang.itplus.controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>thang.itplus.controller.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>thang.itplus.controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>thang.itplus.controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>thang.itplus.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>thang.itplus.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>thang.itplus.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProducts</servlet-name>
        <servlet-class>thang.itplus.controller.ListProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>thang.itplus.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>thang.itplus.controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerController</servlet-name>
        <servlet-class>thang.itplus.controller.AddCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerController</servlet-name>
        <servlet-class>thang.itplus.controller.UpdateCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCustomerByIdController</servlet-name>
        <servlet-class>thang.itplus.controller.GetCustomerByIdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeController</servlet-name>
        <servlet-class>thang.itplus.controller.AddEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <servlet-class>thang.itplus.controller.UpdateEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeListController</servlet-name>
        <servlet-class>thang.itplus.controller.EmployeeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmployeeByIdController</servlet-name>
        <servlet-class>thang.itplus.controller.GetEmployeeByIdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <servlet-class>thang.itplus.controller.DeleteEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>thang.itplus.controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableBookingServlet</servlet-name>
        <servlet-class>thang.itplus.controller.TableBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>thang.itplus.controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminVoucherController</servlet-name>
        <servlet-class>thang.itplus.controller.AdminVoucherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherListController</servlet-name>
        <servlet-class>thang.itplus.controller.VoucherListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherDeleteController</servlet-name>
        <servlet-class>thang.itplus.controller.VoucherDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherAddController</servlet-name>
        <servlet-class>thang.itplus.controller.VoucherAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherEditController</servlet-name>
        <servlet-class>thang.itplus.controller.VoucherEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductsController</servlet-name>
        <servlet-class>thang.itplus.controller.AllProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListController</servlet-name>
        <servlet-class>thang.itplus.controller.OrderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderAddController</servlet-name>
        <servlet-class>thang.itplus.controller.OrderAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderUpdateController</servlet-name>
        <servlet-class>thang.itplus.controller.OrderUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDeleteController</servlet-name>
        <servlet-class>thang.itplus.controller.OrderDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierListController</servlet-name>
        <servlet-class>thang.itplus.controller.SupplierListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierAddController</servlet-name>
        <servlet-class>thang.itplus.controller.SupplierAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierUpdateController</servlet-name>
        <servlet-class>thang.itplus.controller.SupplierUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierDeleteController</servlet-name>
        <servlet-class>thang.itplus.controller.SupplierDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyVoucherController</servlet-name>
        <servlet-class>thang.itplus.controller.ApplyVoucherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrdersController</servlet-name>
        <servlet-class>thang.itplus.controller.MyOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>thang.itplus.controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeUpdateProfileController</servlet-name>
        <servlet-class>thang.itplus.controller.EmployeeUpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentProcessingController</servlet-name>
        <servlet-class>thang.itplus.controller.PaymentProcessingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListEmployeeController</servlet-name>
        <servlet-class>thang.itplus.controller.OrderListEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusController</servlet-name>
        <servlet-class>thang.itplus.controller.UpdateOrderStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeProductListController</servlet-name>
        <servlet-class>thang.itplus.controller.EmployeeProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryHistoryController</servlet-name>
        <servlet-class>thang.itplus.controller.InventoryHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeProfileController</servlet-name>
        <servlet-class>thang.itplus.controller.EmployeeProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfileController</servlet-name>
        <servlet-class>thang.itplus.controller.AdminProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/</url-pattern>
        <!-- URL mặc định khi chạy -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/deletecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetailController</servlet-name>
        <url-pattern>/cartdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/updatecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProducts</servlet-name>
        <url-pattern>/listproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeCustomerController</servlet-name>
        <url-pattern>/customer-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeCustomerController</servlet-name>
        <url-pattern>/admin/customer-history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeCustomerController</servlet-name>
        <url-pattern>/employee/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeCustomerController</servlet-name>
        <url-pattern>/employee/customer-history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerController</servlet-name>
        <url-pattern>/add-customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerController</servlet-name>
        <url-pattern>/update-customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomerByIdController</servlet-name>
        <url-pattern>/customer-get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeController</servlet-name>
        <url-pattern>/add-employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <url-pattern>/update-employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeListController</servlet-name>
        <url-pattern>/employeelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmployeeByIdController</servlet-name>
        <url-pattern>/employee-get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <url-pattern>/delete-employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableBookingServlet</servlet-name>
        <url-pattern>/bookTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherListController</servlet-name>
        <url-pattern>/voucherslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherDeleteController</servlet-name>
        <url-pattern>/vouchersdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherAddController</servlet-name>
        <url-pattern>/vouchersadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherEditController</servlet-name>
        <url-pattern>/vouchersedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductsController</servlet-name>
        <url-pattern>/allproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListController</servlet-name>
        <url-pattern>/orderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderAddController</servlet-name>
        <url-pattern>/add-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderUpdateController</servlet-name>
        <url-pattern>/update-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDeleteController</servlet-name>
        <url-pattern>/delete-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierListController</servlet-name>
        <url-pattern>/supplierlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierAddController</servlet-name>
        <url-pattern>/add-supplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierUpdateController</servlet-name>
        <url-pattern>/update-supplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierDeleteController</servlet-name>
        <url-pattern>/delete-supplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyVoucherController</servlet-name>
        <url-pattern>/applyvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrdersController</servlet-name>
        <url-pattern>/my-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeUpdateProfileController</servlet-name>
        <url-pattern>/update-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentProcessingController</servlet-name>
        <url-pattern>/payment_process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListEmployeeController</servlet-name>
        <url-pattern>/employee/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusController</servlet-name>
        <url-pattern>/employee/update-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeProductListController</servlet-name>
        <url-pattern>/employee/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryHistoryController</servlet-name>
        <url-pattern>/lichsukho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeProfileController</servlet-name>
        <url-pattern>/employee/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfileController</servlet-name>
        <url-pattern>/admin/profile</url-pattern>
    </servlet-mapping>
</web-app>
